%h1 Items

/= form_tag alll_path do
/- @items.each do |it|
%div.itemcard
  %div.ipic= image_tag "Sammy.jpg", width: "175px", height: "120px"
  %div.iuser User: Jordan Mullan
  %div.iquan Qty: 18
  %div.iname Sandwich
  %div.idesc Description: Decent sized sandwich. roughly six inches. made with meats, vegetables and condiments of your choice.


/- = link_to 'Add new movie', new_movie_path