%h1 Items

/= form_tag alll_path do
/- @items.each do |it|
%div.itemcard
  %div.ipic= image_tag "Hammer.jpg", width: "175px", height: "120px"
  %div.iuser User: Jordan Mullan
  %div.iquan Qty: 3
  %div.iname  Hammer
  %div.idesc Description: Small tool used to apply small blows to nails and other objects.


/- = link_to 'Add new movie', new_movie_path